@media only screen and (max-width: 1024px) {
    h1 { font-size: 45px !important; }
}




h1
{
  font-family:'Roboto', sans-serif;
  font-size: 100px;
  color: #C3073F;
  text-shadow: 3px 3px #0a0a0a;
}
p
{
  font-family: 'Roboto', sans-serif;
  color: #C3073F;
  font-size: 50px;
  text-shadow: 3px 3px #000000;
}


body {
    margin: 0;
    background-color: #1A1A1D;
    
}


a
{
    position:absolute;
    top:10px;
    right: 10px;


}
.wow
{
  visibility: hidden;
}

